.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  margin: 2rem;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: none;
  border-radius: 1.8rem;
  overflow: hidden;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  );
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  );
}
#main_body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.card-title {
  font-size: 2.3rem;
  font-weight: 600;
  color: #222f3e;
}
.card-text {
  font-size: 1.3rem;
  font-weight: 500;
  color: #2c3a47;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background: #f8f8f8;
}
.inner_div {
  height: 52rem;
  overflow: hidden;
  background: #fff;
  padding: 1rem;
  border-radius: 1.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border: none;
}
.card-img-top {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}
.last_div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.published {
  display: block;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.badge{
    font-size: 1.1rem;
    padding: 1.1rem 1.2rem;
}
.btn{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}