.navbar-brand{
    font-size: 3rem;
    padding-left: 4rem;
}
.nav-link{
    font-size: 2.4rem;
    cursor: pointer;
}
.nav-item{
    padding: 0 1rem;
}
.form-check-input{
    font-size: 1.3rem;
}
.form-check{
    padding-left: 3.4rem;
}
.form-check-label{
    font-size: 1.4rem;
}